body{
    background-color:#7C311E;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    color: #4A2222;
}
.weather-app{
    background:#F2C574;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgb(65,50, 100, 0.08) ;
    border-radius: 16px;
    padding: 30px;
}
header{
   border-bottom:  1px solid #5C503B;
   padding: 0 0 30px 0;
}
 .search-form-input{
    background-color: #7C311E;
    border: none;
    border-radius: 10px;
    width: 70%;
    font-size: 15px;
    padding: 15px 20px;
}
 .search-form-button{
    background: #7C311E;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 7px;
    color: gold;
}
main{
    padding: 30px 0;
}
.weather-app-data{
    display: flex;
    justify-content: space-between;
}
.weather-app-city {
    color: #7C311E;;
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-app-details{
    color:#4A2222;
    font-size: 16px;
    line-height: 24px;
}
.weather-app-details strong{
    color:#7C311E;
}
.weather-app-temperature-container{
    display: flex;
}
.weather-app-icon{
   width: 88px;
    height: 88px;
}
.weather-app-temperature{
    font-size: 88px;
    color: #5C503B;
    line-height: 88px;
}
.weather-app-unit{
    color: #5C503B;
    margin-top: 6px;
    font-size: 28px;
}
footer{
    border-top: 1px solid #5C503B;
    padding: 30px 0 0  0;
    text-align: center;
    font-size: 14px;
    color:#4A2222 ;
    }