body{
    background-color:#DB8E8D;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    color: #DB8E8D;
}
.weather-app{
    background: #FAF9F5;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgb(65,50, 100, 0.08) ;
    border-radius: 16px;
    padding: 30px;
}
header{
   border-bottom:  1px solid #DB8E8D;
   padding: 0 0 30px 0;
}
 .search-form-input{
    background-color: #DB8E8D;
    border: none;
    border-radius: 10px;
    width: 70%;
    font-size: 15px;
    padding: 15px 20px;
}
 .search-form-button{
    background: #DB8E8D;
    padding: 15px 20px;
    border:none;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 7px;
    color: black;
}
footer{
    border-top: 1px solid #DB8E8D;
    padding: 30px 0 0  0;
    text-align: center;
    font-size: 14px;
    color: grey;
    }